body{
    background-color: black;
    font-family: 'Indie Flower', cursive;
}

.flash{
    height:300px;
    width:300px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border: 2px solid red;
}

.front{
    color: blue;
}

.flip{
    margin-top: 1em;
    background-color: gray;
    width: 300px;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}