body{
    background-color: black;
    font-family: 'Indie Flower', cursive;
}

.score{
    color: white;
    text-align: center;
}

.flash{
    height:300px;
    width:400px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border: 2px solid red;
    margin: auto
}

.front{
    color: blue;
}

.answers{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.flip{
    margin-top: 1em;
    background-color: gray;
    width: 400px;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}

.buttons{
    display: flex;
    width: 400px;
    height: 35px;
}

.button{
    display: flex;
    background-color: rgb(141, 141, 141);
    width: 32%;
    height: 35px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    font-weight: bold;
}

.button:hover{
    background-color: rgb(109, 109, 109);
}